body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #282C34;
    color: white;
}

main {
    flex: 1 0 auto;
}

.logo {
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 50px;
}

.page-footer {
    background-color: #282828;
    color: white;
}

.card {
    color: black;
}